DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ DB_NAME }}',
        'USER': '{{ DB_USER }}',
        'PASSWORD': '{{ DB_PASSWORD }}',
        'HOST': '{% if DB_ADDRESS %}{{ DB_ADDRESS }}{% else %}{{ groups["dbserver"]["ansible_host"] }}{% endif %}',
        'PORT': '{{ DB_PORT }}',
    }
}

SECRET_KEY = "{{ SECRET_KEY }}"

ALLOWED_HOSTS = [
    '{{ SERVER_NAME }}'
]

DEBUG = False

BACKUP_DIRECTORY = "{{ BACKUPS_DIR }}"

BACKUP_STORAGE_ADDRESS = "{{ BACKUP_STORAGE_ADDRESS }}"
BACKUP_STORAGE_PASSWORD = "{{ BACKUP_STORAGE_PASSWORD }}"
BACKUP_STORAGE_USERNAME = "{{ BACKUP_STORAGE_USERNAME }}"
BACKUP_STORAGE_DIRECTORY = "{{ BACKUP_STORAGE_DIRECTORY }}"
