 <span ng-show="item.date_ordered">[[ item.date_ordered  | shortDate ]] <br /></span>
 <span ng-show="item.date_positive">[[ item.date_positive  | shortDate ]] <br /></span>
 <span ng-show="item.anaerobic">[[ item.anaerobic ]] <br /></span>
 <span ng-show="item.details">[[ item.details ]] <br /></span>
 <span ng-show="item.microscopy">[[ item.microscopy ]] <br /></span>
 <span ng-show="item.source">[[ item.source ]] <br /></span>
 <span ng-show="item.organisms">[[ item.organisms ]] <br /></span>
 <span ng-show="item.sensitive_antibiotics">[[ item.sensitive_antibiotics ]] <br /></span>
 <span ng-show="item.resistant_antibiotics">[[ item.resistant_antibiotics ]] <br /></span>