<span ng-show="item.address_line_1">
    [[ item.address_line_1 ]]
   <br />
</span>
<span ng-show="item.address_line_2">
    [[ item.address_line_2 ]]
   <br />
</span>
<span ng-show="item.address_line_3">
    [[ item.address_line_3 ]]
   <br />
</span>
<span ng-show="item.address_line_4">
    [[ item.address_line_4 ]]
   <br />
</span>
<span ng-show="item.postcode">
    [[ item.postcode ]]
   <br />
</span>
<span ng-show="item.home_telephone">
    [[ item.home_telephone ]]
   <br />
</span>
<span ng-show="item.work_telephone">
    [[ item.work_telephone ]]
   <br />
</span>
<span ng-show="item.mobile_telephone">
    [[ item.mobile_telephone ]]
   <br />
</span>
<span ng-show="item.email">
    [[ item.email ]]
   <br />
</span>