<span ng-show="item.national_code">
    [[ item.national_code ]]
   <br />
</span>
<span ng-show="item.practice_code">
    [[ item.practice_code ]]
   <br />
</span>
<span ng-show="item.title || item.initials || item.surname">
    [[ item.title ]] [[ item.initials ]] [[ item.surname ]]
   <br />
</span>
<span ng-show="item.address_1">
    [[ item.address_1 ]]
   <br />
</span>
<span ng-show="item.address_2">
    [[ item.address_2 ]]
   <br />
</span>
<span ng-show="item.address_3">
    [[ item.address_3 ]]
   <br />
</span>
<span ng-show="item.address_4">
    [[ item.address_4 ]]
   <br />
</span>
<span ng-show="item.postcode">
    [[ item.postcode ]]
   <br />
</span>
<span ng-show="item.telephone">
    [[ item.telephone ]]
   <br />
</span>