<span ng-show="item.title || item.initials || item.surname">
    [[ item.title ]] [[ item.initials ]] [[ item.surname ]]
   <br />
</span>
<div class="row">
  <div class="col-md-4">
    <b>Address</b>
  </div>
  <div class="col-md-8">
    <span ng-show="item.address_1">
      [[ item.address_1 ]]
     <br />
  </span>
  <span ng-show="item.address_2">
      [[ item.address_2 ]]
     <br />
  </span>
  <span ng-show="item.address_3">
      [[ item.address_3 ]]
     <br />
  </span>
  <span ng-show="item.address_4">
      [[ item.address_4 ]]
     <br />
  </span>
  <span ng-show="item.postcode">
      [[ item.postcode ]]
     <br />
  </span>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <b>Phone</b>
  </div>
  <div class="col-md-8">
    [[ item.telephone ]]
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <b>National code</b>
  </div>
  <div class="col-md-8">
    [[ item.national_code ]]
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <b>Practice code</b>
  </div>
  <div class="col-md-8">
    [[ item.practice_code ]]
  </div>
</div>
