<span ng-show="item.when">
    [[ item.when | displayDateTime ]]
   <br />
</span>
<span ng-show="item.ventilated">
     Ventilated
   <br />
</span>
<span ng-show="item.ventilation_type">
    [[ item.ventilation_type ]]
   <br />
</span>
<span ng-show="item.fio2">
    [[ item.fio2 ]]
   <br />
</span>
<span ng-show="item.inotropic_dose">
    [[ item.inotropic_dose ]]
   <br />
</span>
<span ng-show="item.meld_score">
    [[ item.meld_score ]]
   <br />
</span>
<span ng-show="item.sofa_score">
    [[ item.sofa_score ]]
   <br />
</span>
<span ng-show="item.inotropic_drug">
    [[ item.inotropic_drug ]]
   <br />
</span>