<span ng-show="item.when">
    [[ item.when | displayDateTime ]]
   <br />
</span>
<span ng-show="item.ventilation_type">
    [[ item.ventilation_type ]]
   <br />
</span>
<span ng-show="item.fio2">
    [[ item.fio2 ]]
   <br />
</span>
<span ng-show="item.inotrope_dose">
    [[ item.inotropic_dose ]]
   <br />
</span>
<span ng-show="item.inotrop">
    [[ item.inotropic_drug ]]
   <br />
</span>
<span ng-show="item.vasopressor_dose">
    [[ item.vasopressor_dose ]]
   <br />
</span>
<span ng-show="item.inotrope">
    [[ item.inotropic_drug ]]
   <br />
</span>
<span ng-show="item.meld_score">
    [[ item.meld_score ]]
   <br />
</span>
<span ng-show="item.sofa_score">
    [[ item.sofa_score ]]
   <br />
</span>
