<div class="row">
  <div class="col-md-4">
    <b>Hospital</b>
  </div>
  <div class="col-md-8">
    [[item.hospital]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>Ward</b>
  </div>
  <div class="col-md-8">
    [[item.ward]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>Bed</b>
  </div>
  <div class="col-md-8">
    [[item.bed]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>Provenance</b>
  </div>
  <div class="col-md-8">
    [[item.provenance]]
  </div>
</div>
