<span ng-show="item.forename_1 || item.forename_2 || item.surname">
  [[ item.forename_1 ]] [[ item.forename_2 ]] [[ item.surname ]]
   <br />
</span>
<span ng-show="item.nok_type">
  [[ item.nok_type ]]
 <br />
</span>
<span ng-show="item.relationship">
    [[ item.relationship ]]
   <br />
</span>
<span ng-show="item.address_1">
    [[ item.address_1 ]]
   <br />
</span>
<span ng-show="item.address_2">
    [[ item.address_2 ]]
   <br />
</span>
<span ng-show="item.address_3">
    [[ item.address_3 ]]
   <br />
</span>
<span ng-show="item.address_4">
    [[ item.address_4 ]]
   <br />
</span>
<span ng-show="item.postcode">
    [[ item.postcode ]]
   <br />
</span>
<span ng-show="item.work_telephone">
    [[ item.work_telephone ]]
   <br />
</span>
<span ng-show="item.mobile_telephone">
    [[ item.mobile_telephone ]]
   <br />
</span>