 <span ng-show="item.review_date">[[ item.review_date  | shortDate ]] <br /></span>
 <span ng-show="item.reason_for_stopping">[[ item.reason_for_stopping ]] <br /></span>
 <span ng-show="item.stopping_iv_details">[[ item.stopping_iv_details ]] <br /></span>
 <span ng-show="item.treatment_outcome">[[ item.treatment_outcome ]] <br /></span>
 <span ng-show="item.deceased">[[ item.deceased ]] <br /></span>
 <span ng-show="item.death_category">[[ item.death_category ]] <br /></span>
 <span ng-show="item.cause_of_death">[[ item.cause_of_death ]] <br /></span>
 <span ng-show="item.readmitted">[[ item.readmitted ]] <br /></span>
 <span ng-show="item.readmission_cause">[[ item.readmission_cause ]] <br /></span>
 <span ng-show="item.notes">[[ item.notes ]] <br /></span>
 <span ng-show="item.unplanned_stop_reason">[[ item.unplanned_stop_reason ]] <br /></span>