 <span ng-show="item.decided_by">[[ item.decided_by ]] <br /></span>
 <span ng-show="item.patient_choice">[[ item.patient_choice ]] <br /></span>
 <span ng-show="item.oral_available">[[ item.oral_available ]] <br /></span>
 <span ng-show="item.not_needed">[[ item.not_needed ]] <br /></span>
 <span ng-show="item.patient_suitability">[[ item.patient_suitability ]] <br /></span>
 <span ng-show="item.not_fit_for_discharge">[[ item.not_fit_for_discharge ]] <br /></span>
 <span ng-show="item.non_complex_infection">[[ item.non_complex_infection ]] <br /></span>
 <span ng-show="item.no_social_support">[[ item.no_social_support ]] <br /></span>
 <span ng-show="item.reason">[[ item.reason ]] <br /></span>
 <span ng-show="item.date">[[ item.date  | shortDate ]] <br /></span>