<p>
  <b>Diagnosis & Symptoms</b><br />
</p>
<p>
<span ng-show="editing.primary_diagnosis.condition">
[[ editing.primary_diagnosis.condition ]],
</span>
[[ editing.diagnosis.condition ]]
<br />
</p>

<div ng-show="editing.infection.source || editing.infection.site">
<p><b>Infection related issues</b></p>
<p>
[[ editing.infection.source ]] [[ editing.infection.site ]]
<br />
</div>
</p>


<div ng-show="editing.procedure.date">
  <p><b>Procedures</b><br /></p>
  <p>
[[ editing.procedure.date | displayDate ]]
[[ editing.procedure.medical_procedure ]] [[ editing.procedure.surgical_procedure]]
</p>
</div>

<div ng-show="editing.imaging.length">
  <p><b>Imaging</b></p>
  <div ng-repeat="item in editing.imaging">
    {% include models.Imaging.get_display_template %}
  </div>
</div>


<p><b>Microbiology</b></p>
<div show="editing.antimicrobials.drug">
  <p><b>Antibiotic history:</b></p>
<p>
  [[ editing.antimicrobial.start_date | displayDate]]
  <span ng-show="editing.antimicrobial.end_date"> - [[ editing.antimicrobial.end_date | displayDate ]]</span>
  [[ editing.antimicrobial.drug ]]
</p>
</div>

<p><b>We would advise:</b></p>
<p>
[[ editing.microbiology_input.date | displayDate ]]
[[ editing.microbiology_input.clinical_discussion ]]<br />
[[ editing.microbiology_input.agreed_plan ]]<br />
</p>
<hr />
