{% load forms %}

{# INITIAL STATE #}
<div class="row" ng-show="state === states.INITIAL">
  <div class="col-md-12">
    <p class="lead">
      If we already have your patient on the system, we can pull their
      details for you
    </p>
    <div class="row">
      <div class="col-md-6">
        <h4>Hospital number or NHS number</h4>
        <input autofocus class="form-control" type="text"
             ng-model="searchQuery.number"
             ng-keypress="$event.keyCode == 13 && search()"
             />
      </div>
    </div>
  <div class="relative">
    <hr>
    <div class="hr-text-container">
      <div class="hr-text">Or</div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Surname and date of birth</h4>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6 form-horizontal">
        <input class="form-control" type="text" ng-model="searchQuery.surname">
      </div>
      <div class="col-md-4">
        <div date-of-birth ng-model="searchQuery.date_of_birth"></div>
      </div>
    </div>
    <div class="row content-offset">
      <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-primary" ng-disabled="searchButtonDisabled" ng-click="search()">
          <i class="fa fa-search"></i>
          Search
        </button>
      </div>
    </div>
  </div>
</div>

{# PATIENT_LIST #}
<div class="row" ng-show="state === states.PATIENT_LIST">
  <div class="col-md-6 border-right">
    <div class="row">
      <div class="col-md-10">
        <span ng-show="patientList.length">
          <p class="lead">
            <span ng-hide="patientList.length === 1">
            We've found a patient that matches this description.
            </span>
            <span ng-show="patientList.length === 1">
            We've found [[ patientList.length ]] patients.
            </span>
          </p>
          <p class="lead">
            Did you mean:
          </p>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="patient in patientList">
              <h4 class="inline">
                <a ng-show="patient.patient_id" class="orange-link" href="/#/patient/[[ patient.patient_id ]]">
                  [[ patient.first_name ]] [[ patient.surname ]]
                  [[ patient.hospital_number ]]
                </a>
                <a ng-hide="patient.patient_id" class="orange-link pointer" ng-click="select(patient)">
                  [[ patient.first_name ]] [[ patient.surname ]] ([[ patient.date_of_birth | displayDate ]])
                  [[ patient.hospital_number ]]
                </a>
                <br>
                <span ng-show="patient.date_of_birth">([[ patient.date_of_birth | displayDate ]])</span>
              </h4>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-push-1 content-offset-100">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          Or create a new patient:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-lg btn-primary" ng-click="goToEditing()">
          Create new patient
        </button>
      </div>
    </div>
  </div>
</div>


{# EDITING_DEMOGRAPHICS #}
<div class="row" ng-show="state === states.EDITING_DEMOGRAPHICS">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="lead" ng-show='!patientList.length'>
          Unable to find a patient with
          <span ng-show="searchQuery.number">[[ searchQuery.number ]].</span>
          <span ng-show="searchQuery.surname">[[ searchQuery.surname ]] - [[ searchQuery.date_of_birth | displayDate ]].</span>
          Add now:
        </p>
        <p class="lead">
          Add the patient's details:
        </p>
      </div>
    </div>
    <form class="form-horizontal">
      <div class="row">
        <div class="col-md-10">
          {% input label="Hospital number" field="Demographics.hospital_number" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          {% input field="Demographics.nhs_number" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          {% input field="Demographics.first_name" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          {% input field="Demographics.surname" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          {% date_of_birth_field %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          {% radio field="Demographics.sex" %}
        </div>
      </div>
    </form>
  </div>
</div>
