{% load forms %}

<div ng-controller="ClinicalAdviceForm as clinicalAdviceForm" class="panel panel-default hidden-print">
    <div class="panel-heading"><h3>
        <i class="fa fa-comments"></i> Clinical Advice
    </div></h3>
      <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal">
                <div ng-repeat="microbiology_input in [clinicalAdviceForm.editing.microbiology_input]">
                  {% include models.MicrobiologyInput.get_form_template %}
                </div>
              </form>
            </div>
        </div>
      <div class="row">
          <div class="col-md-12 text-right">
              <button ng-disabled="!clinicalAdviceForm.changed" class="btn btn-primary" ng-click="clinicalAdviceForm.save('save')">
              <i class="fa fa-save"></i>
              Save
              </button>
          </div>
      </div>
     </div>
 </div>
