{% extends 'inline_forms/clinical_timeline_base.html' %}

{% load forms %}

{% block form_template %}
  {% include models.MicrobiologyInput.get_form_template %}
{% endblock %}

{% block additional_field_display %}
<!-- <div ng-show="item.reason_for_interaction === '{{ models.MicrobiologyInput.ICU_REASON_FOR_INTERACTION }}'"> -->
<!--   <div class="row"> -->
<!--     <div class="col-md-6"> -->
<!--       <b>Ventilation:</b> -->
<!--     </div> -->
<!--     <div class="col-md-6"> -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.ventilation_type ]] -->
<!--       <span ng-show="item.micro_input_icu_round_relation.icu_round.fio2"> -->
<!--         FiO₂: -->
<!--         [[ item.micro_input_icu_round_relation.icu_round.fio2 ]] -->
<!--       </span> -->
<!--     </div> -->
<!--   </div> <\!-- row -\-> -->

<!--   <div class="row"> -->
<!--     <div class="col-md-6"> -->
<!--       <b>Inotropic Support:</b> -->
<!--     </div> -->
<!--     <div class="col-md-6"> -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.inotrope ]] -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.inotrope_dose ]] -->
<!--     </div> -->
<!--   </div> <\!-- row -\-> -->

<!--   <div class="row"> -->
<!--     <div class="col-md-6"> -->
<!--       <b>Vasopressor:</b> -->
<!--     </div> -->
<!--     <div class="col-md-6"> -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.vasopressor ]] -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.vasopressor_dose ]] -->
<!--     </div> -->
<!--   </div> <\!-- row -\-> -->

<!--   <div class="row"> -->
<!--     <div class="col-md-6"> -->
<!--       <b>MELD:</b> -->
<!--     </div> -->
<!--     <div class="col-md-6"> -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.meld_score ]] -->
<!--     </div> -->
<!--   </div> <\!-- row -\-> -->

<!--   <div class="row"> -->
<!--     <div class="col-md-6"> -->
<!--       <b>SOFA:</b> -->
<!--     </div> -->
<!--     <div class="col-md-6"> -->
<!--       [[ item.micro_input_icu_round_relation.icu_round.sofa_score ]] -->
<!--     </div> -->
<!--   </div> <\!-- row -\-> -->
<!--   <div class="row"> -->
<!--     <div class="col-md-6"> -->
<!--       <b>Temperature:</b> -->
<!--     </div> -->
<!--     <div class="col-md-6"> -->
<!--       [[ item.micro_input_icu_round_relation.observation.temperature ]] -->
<!--     </div> -->
<!--   </div> <\!-- row -\-> -->

<!-- </div> -->

{% endblock %}

{% block send_upstream_button %}
<i ng-show="item.reason_for_interaction && item.reason_for_interaction.indexOf('RNOH') === -1" class="fa fa-exchange edit pull-right pointer"
   ng-click="open_modal('SendUpstreamCtrl', '/templates/send_upstream_modal.html', {patient:patient, item:item, refresh_patient:refresh, refresh_timeline:clinicalTimeline.getClinicalAdvice})"></i>
{% endblock %}
