{% load forms %}
<div ng-controller="ClinicalAdviceForm as clinicalAdviceForm">
  <div ng-show="clinicalAdviceForm.clinicalAdvice.length" class="panel panel-default hidden-print">
    <div class="panel-body">
      <div class="patient-timeline-container">
        <div class="row">
          <div class="col-md-3 patient-timeline">
            <div class="patient-timeline-now">
              <div class="patient-timeline-now-text bg-secondary">
                Now
              </div>
            </div>
          </div>
        </div>
        <svg class="speech-bubble-timeline-container">
          <line class="speech-bubble-timeline hidden-sm hidden-xs" x1="13%" y1="0" x2="13%" y2="500%" />
          <line class="speech-bubble-timeline hidden-md hidden-lg" x1="50%" y1="0" x2="50%" y2="500%" />
        </svg>
        <div ng-repeat="item in clinicalAdviceForm.clinicalAdvice" class="row content-offset-20">

          <div class="col-md-3 patient-timeline">
            <div class="patient-timeline-speech-bubble">
              <i class="fa fa-comments patient-timeline-speech-bubble-icon"></i>
            </div>
            <div ng-show="item.when">
              <div class="patient-timeline-date">
                [[ item.when | momentDateFormat:'DD MMM YYYY' ]]
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="patient-timeline-discussion">
              <div class="row">
                <div class="col-sm-10 timeline-data-[[ $index ]]">
                  <span ng-show="item.initials && item.initials.trim().length">
                    <p>
                      <b>By: </b> [[item.initials]]
                      <span ng-show="item.discussed_with">(discussed with [[ item.discussed_with ]])</span>
                    </p>
                  </span>
                  <span ng-show="item.reason_for_interaction">
                    <p>
                      <b>Reason For Interaction: </b><br/>[[item.reason_for_interaction]]
                    </p>
                  </span>
                  <span ng-show="item.clinical_discussion">
                    <b>Clinical Discussion: </b><div markdown="clinical_discussion"></div>
                  </span>
                  <span ng-show="item.infection_control">
                    <b>Infection control: </b><div markdown="infection_control"></div>
                  </span>
                  <span ng-show="item.agreed_plan">
                    <b>Agreed Plan: </b><div markdown="agreed_plan"></div>
                  </span>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <div class="col-md-12">
                      <i class="fa fa-pencil edit pull-right pointer" ng-click="clinicalAdviceForm.editItem(episode, item)"></i>
                    </div>
                  </div>
                  <div class="row content-offset-10">
                    <div class="col-md-12">
                      <i class="fa fa-clipboard edit pull-right pointer" clipboard data-clipboard-target=".timeline-data-[[ $index ]]"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if not user.profile.readonly %}
  <div  class="panel panel-default hidden-print">
    <div class="panel-heading"><h3>
      <i class="fa fa-comments"></i> Clinical Advice
    </div></h3>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal">
            <div ng-repeat="editing in [clinicalAdviceForm.editing]">
              {% include models.MicrobiologyInput.get_form_template %}
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button ng-disabled="!clinicalAdviceForm.changed" class="btn btn-primary" ng-click="clinicalAdviceForm.save('save')">
            <i class="fa fa-save"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
