{% load forms %}

<div ng-controller="ClinicalAdviceForm as clinicalAdviceForm" class="panel panel-default">
    <div class="panel-heading"><h3>
        <i class="fa fa-comments"></i> Clinical Advice
    </div></h3>
      <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal">
                {% datetimepicker field="MicrobiologyInput.when" model="clinicalAdviceForm.editing.when" %}
                {% input field="MicrobiologyInput.initials" model="clinicalAdviceForm.editing.initials" %}
                {% select field="MicrobiologyInput.reason_for_interaction" model="clinicalAdviceForm.editing.reason_for_interaction" %}
                {% textarea field="MicrobiologyInput.clinical_discussion" model="clinicalAdviceForm.editing.clinical_discussion" %}
                {% input field="MicrobiologyInput.discussed_with" model="clinicalAdviceForm.editing.discussed_with" %}
              </form>
            </div>
        </div>
      <div class="row">
          <div class="col-md-12 text-right">
              <button class="btn btn-primary" ng-click="clinicalAdviceForm.save('save')">
              <i class="fa fa-save"></i>
              Save
              </button>
          </div>
      </div>
     </div>
 </div>
