{% extends 'base_templates/modal_base.html' %}
{% block icon_name %}fa fa-plus-circle{% endblock %}
{% block title %}Add Patient To Service{% endblock %}

{% block modal_body%}
<div class="row">
  <div class="col-md-6 col-md-offset-3" ng-repeat="category in currently_addable">
    <h3>
      [[ category ]]
    <button class="btn btn-primary btn-save pull-right" ng-click="add(category)">
      <i class="fa fa-plus-circle"></i> Add
    </button>

    </h3>
  </div>
</div>
{% endblock %}

{% block modal_save %}{% endblock %}
