{% extends "base_templates/form_modal_base.html" %}
{% load forms %}
{% block icon_name %}
fa fa-crosshairs
{% endblock %}
{% block title %}
Blood Culture Isolate
{% endblock %}
{% block form %}
  {% radio model="isolate.editing.aerobic_or_anaerobic" label="Type" lookuplist="['Aerobic', 'Anaerobic']" %}
  {% radio model="isolate.editing.gram_stain" label="Gram stain" lookuplist="gramstainoutcome_list" %}
  {% radio model="isolate.editing.quick_fish" label="Quick FiSH" lookuplist="quickfishoutcome_list" %}
  {% radio model="isolate.editing.gpc_staph" label="GPC Staph" lookuplist="gpcstaphoutcome_list" %}
  {% radio model="isolate.editing.gpc_strep" label="GPC Staph" lookuplist="gpcstrepoutcome_list" %}
  {% input model="isolate.editing.organism" label="Organism" lookuplist="microbiology_organism_list" %}
  {% select model="isolate.editing.sensitivities" label="Sensitivities" multiple=True tagging=False lookuplist="antimicrobial_list" %}
  {% select model="isolate.editing.resistances" label="Resistances" multiple=True tagging=False lookuplist="antimicrobial_list" %}
  {% textarea model="isolate.editing.notes" label="Notes" %}
{% endblock %}

{% block modal_delete %}
<span ng-show="!isNew" class="float-left">
  <button class="btn btn-secondary btn-delete" ng-click="delete('delete')">
    <i class="fa fa-trash-o"></i>
    Delete
  </button>
</span>
{% endblock %}
