<div class="left-menu">
  <h3>
    <a href="/#/beta/cultures/">Positive Cultures</a>
  </h3>
  <ul>
  </ul>
</div>

<div class="content-offset right-viewport">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Positive Cultures: Royal Free Hospital</h1>
    </div> <!-- Heading -->



    <section class="study-nav">
      <div class="row">
        <div class="col-md-2 active">
          <a class="orange-link bl" href="/#/beta/cultures/">RFH</a>
        </div>
        <div class="col-md-2 ">
          <a class="orange-link bl" href="/#/beta/cultures/">Barnet</a>
        </div>
        <div class="col-md-2 ">
          <a class="orange-link bl" href="/#/beta/cultures/">Chase Farm</a>
        </div>
        <div class="col-md-2 ">
          <a class="orange-link bl" href="/#/beta/cultures/">North Mid</a>
        </div>

      </div>
    </section>


    <div class="panel-body">

      <h2>
         Cultures: July 2026
      </h2>

      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-primary" href="">
            <i class="fa fa-calendar"></i>
            Set range
          </a>
        </div>
      </div>

      <div class="row content-offset">
        <table class="table table-striped"
          <tr>
            <th>Lab #</th>
            <th>Date Ordered</th>
            <th>Test</th>
            <th>Patient</th>
            <th>Location</th>
            <th>Isolates</th>
          </tr>
          <tr>
            <td>
              <a href="" class="orange-link">
                37-555-7236838
              </a>
            </td>
            <td>
              12 Jul 2026 13:11
            </td>
            <td>
              BLOOD CULTURE (BC)
            </td>
            <td>
              <a href="" class="orange-link">
                Jane Doe 5557892
              </a>
            </td>
            <td>
              9 North Bed 2
            </td>
            <td>
              <p>
                1) After less than 24 hours Klebsiella Pneumoniae isolated from both bottles
              </p>
              <p>
                2) After less than 24 hours Escherichia coli isolated from the aerobic bottle
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <a href="" class="orange-link">
                37-555-7839938
              </a>
            </td>
            <td>
              12 Jul 2026 17:11
            </td>
            <td>
              BLOOD CULTURE (BC)
            </td>
            <td>
              <a href="" class="orange-link">
                Simon Shaw 5552836
              </a>
            </td>
            <td>
              None
            </td>
            <td>
              <p>
                2) After less than 24 hours Escherichia coli isolated from the anaerobic bottle
              </p>
              <p>
                2) After less than 24 hours Escherichia coli isolated from the anaerobic bottle
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <a href="" class="orange-link">
                37-555-2538262
              </a>
            </td>
            <td>
              13 Jul 2026 09:11
            </td>
            <td>
              BLOOD CULTURE (BC)
            </td>
            <td>
              <a href="" class="orange-link">
                Tanya Towel 55562637
              </a>
            </td>
            <td>
              11 West Bed 1
            </td>
            <td>
              <p>
                Klebsiella Pneumoniae isolated from both bottles. ESBL producer. Most penicillins will not be effective.
                For advice please contact the microbiologist.
              </p>
            </td>
          </tr>


        </table>
      </div>


    </div> <!-- Panel Body -->
  </div>  <!-- Panel -->
</div>   <!-- Col 11 -->
