{% load forms %}
<div class="container content-offset">
  <div class="panel panel-primary panel-container">
    <div class="panel-heading">
      <h2>
        <i class="fa fa-user-md"></i>
        {{ patient_list.display_name }}
      </h2>
    </div>

    <div class="panel-body">
      <div class="row screen-only">
          <form class="form-inline">
            <div class="col-md-12">
            <h1 >
              <div class="btn-group pull-left" uib-dropdown is-open="status.isopen">
                <button type="button" class="btn btn-secondary" uib-dropdown-toggle ng-disabled="disabled" id="list-dropdown">
                  <i class="fa fa-user-md"></i>
                  {{ patient_list.display_name }}
                  <i class="fa fa-angle-down"></i>
                </button>
                <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
                  {% for list in lists %}
                  {% if list.get_slug != list_slug %}
                  <li>
                    <a href="#/list/{{ list.get_slug }}">
                      {{ list.display_name }}
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% if patient_list.display_name == 'Renal' %}
              <a href="/letters/#{% url 'renal_handover' %}" target="_blank" class="btn btn-secondary pull-left left-offset-10">
                Renal handover list
              </a>
              {% endif %}
              {% if patient_list.is_editable %}
              <a href="{% url 'add_antifungal_patients' %}" class="btn btn-secondary pull-left left-offset-10">
                Bulk add patients
              </a>
              {% endif %}
              <div class="btn-group pull-right">
                  <label class="btn btn-primary" ng-model="isCardCollapsed" uib-btn-radio="undefined">{% icon 'fa-list-alt' %}</label>
                  <label class="btn btn-primary" ng-model="isCardCollapsed" uib-btn-radio="true">{% icon 'fa-align-justify' %}</label>
              </div>

            </h1>
          </div>
          </form>
      </div>
      {% if permissions.view_lab_test_trends %}
        {% include 'partials/card_with_results.html' %}
      {% else %}
        {% include 'partials/card_without_results.html' %}
      {% endif %}

      <div class="empty-list" ng-hide="num_episodes > 0">
        <p class="lead text-center">
          There are no patients on this list.
        </p>
        {% if not patient_list.is_editable %}
        <p class="lead text-center">
          <span class="screen-only">
            Would you like to <a href="/pathway/#/add_patient">add one</a>?
          </span>
        </p>
        {% endif %}
      </div>

    </div>
  </div>
</div>
