{% extends 'patient_detail_base.html' %}

{% block content %}
  <div class="col-md-12 death-banner" ng-show="patient.demographics[0].death_indicator">
    <h1>
      <i class="fa fa-warning"></i>
      Patient deceased
      <small>
        ([[ patient.demographics[0].date_of_death | displayDate ]])
      </small>
    </h1>
  </div>
  {{ block.super }}
{% endblock %}

{% block episodes_switcher %}
<div class="panel panel-default">
  <div class="panel-heading ">
    <h3>
      <i class="fa fa-history"></i>
      Services
    </h3>
  </div>
  <div class="list-group">

    <a class="list-group-item episodelist pointer"
       ng-class="{'bg-active': view == null && e.id == episode.id}"
       ng-repeat="e in patient.episodes"
       href="[[ '/#' + e.link]]"
       ng-click="switch_to_episode($index, $event)"
       >
      [[ e.category_name ]]
    </a>

  </div>
</div>
{% endblock episodes_switcher %}
