{% load panels %}
{% load forms %}
<div class="col-md-6">
  {% record_panel models.Location %}
  {% teams_panel %}
  {% if permissions.view_lab_test_trends %}
    <div class="panel panel-default">
      <div class="panel-heading"><h3>
        {% icon 'fa fa-crosshairs' %} Results
      </h3></div>
      <div class="panel-body overflow-x-auto">
        {% include "partials/lab_test_sparklines.html" with target="patient" %}
      </div>
    </div>
  {% endif %}


  {% record_panel models.PrimaryDiagnosis %}

  {% record_panel models.Diagnosis %}
  {% record_panel models.Procedure %}
  <div class="visible-print">
    {% record_panel models.MicrobiologyInput %}
  </div>

  {% record_panel models.Line %}
  {% include "partials/antimicrobial_panel.html" %}
  {% include "partials/imaging_panel.html" %}
  {% include "partials/edrm_panel.html" %}
  {% include "partials/blood_culture_result_display.html" %}
  {% record_panel models.BloodCultureIsolate %}
  {% if permissions.view_lab_test_trends %}
    {% include "partials/upstream_blood_culture_result_display.html" %}
  {% endif %}
  {% record_panel models.FinalDiagnosis %}
</div>
<div class="col-md-6">
  {% include "inline_forms/clinical_timeline.html" %}
</div>
