{% load panels %}
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        <i class="fa fa-map-marker"></i> Location
        <i class="fa fa-pencil edit pull-right"
           ng-click="episode.recordEditor.editItem('location', 0)"></i>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <b>Category</b>
        </div>
        <div class="col-md-8">
          [[episode.category.charAt(0).toUpperCase() + episode.category.substring(1)]]
        </div>
      </div>
      <div class="row" ng-show="episode.date_of_admission">
        <div class="col-md-4">
          <b>Admitted</b>
        </div>
        <div class="col-md-8">
          [[ episode.date_of_admission | shortDate ]]
        </div>
      </div>
      <div class="row" ng-show="episode.discharge_date">
        <div class="col-md-4">
          <b>Discharged</b>
        </div>
        <div class="col-md-8">
          [[ episode.discharge_date | shortDate ]]
        </div>
      </div>
      <div class="row" ng-show="episode.date_of_episode">
        <div class="col-md-4">
          <b>Date</b>
        </div>
        <div class="col-md-8">
          [[ episode.date_of_episode | shortDate ]]
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b>Hospital</b>
        </div>
        <div class="col-md-8">
          [[ episode.location[0].hospital ]]
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b>Ward</b>
        </div>
        <div class="col-md-8">
          [[ episode.location[0].ward ]]
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b>Bed</b>
        </div>
        <div class="col-md-8">
          [[ episode.location[0].bed ]]
        </div>
      </div>
    </div>
  </div>
{% teams_panel %}

{% record_panel models.PrimaryDiagnosis %}

{% record_panel models.Diagnosis %}
{% record_panel models.Infection %}
{% record_panel models.Procedure %}
<div class="visible-print">
  {% record_panel models.MicrobiologyInput %}
</div>

{% record_panel models.Line %}
{% record_panel models.Antimicrobial %}
{% record_panel models.Imaging %}
{% include "partials/blood_culture_result_display.html" %}
{% record_panel models.FinalDiagnosis %}
</div>
<div class="col-md-6">
<div ng-show="episode.microbiology_input.length" class="panel panel-default hidden-print">
  <div class="panel-body">
    <div class="patient-timeline-container">
      <div class="row">
        <div class="col-md-3 patient-timeline">
          <div class="patient-timeline-now">
            <div class="patient-timeline-now-text bg-secondary">
              Now
            </div>
          </div>
        </div>
      </div>
      <svg class="speech-bubble-timeline-container">
        <line class="speech-bubble-timeline hidden-sm hidden-xs" x1="13%" y1="0" x2="13%" y2="500%" />
        <line class="speech-bubble-timeline hidden-md hidden-lg" x1="50%" y1="0" x2="50%" y2="500%" />
      </svg>
      <div ng-repeat="item in episode.microbiology_input | orderBy:orderByDate" class="row content-offset-20">

        <div class="col-md-3 patient-timeline">
          <div class="patient-timeline-speech-bubble">
            <i class="fa fa-comments patient-timeline-speech-bubble-icon"></i>
          </div>
          <div ng-show="item.when">
            <div class="patient-timeline-date">
              [[ item.when | momentDateFormat:'DD MMM YYYY' ]]
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="patient-timeline-discussion">
            <div class="row">
              <div class="col-sm-10 timeline-data-[[ $index ]]">
                <span ng-show="item.initials && item.initials.trim().length">
                  <b>By: </b> [[item.initials]]<span ng-show="item.discussed_with"> with [[item.discussed_with]]</span>
                  <br />
                </span>
                <span ng-show="item.reason_for_interaction">
                  <b>Reason For Interaction: </b>[[item.reason_for_interaction]]
                  <br />
                </span>
                <span ng-show="item.clinical_discussion">
                  <b>Clinical Discussion: </b><div markdown="clinical_discussion"></div>
                  <br />
                </span>
                <span ng-show="item.infection_control">
                  <b>Infection control: </b><div markdown="infection_control"></div>
                  <br />
                </span>
                <span ng-show="item.agreed_plan">
                  <b>Plan: </b><div markdown="agreed_plan"></div>
                  <br />
                </span>
              </div>
              <div class="col-sm-2">
                <div class="row">
                  <div class="col-md-12">
                    <i class="fa fa-pencil edit pull-right pointer" ng-click="episode.recordEditor.openEditItemModal(item, 'microbiology_input')"></i>
                  </div>
                </div>
                <div class="row content-offset-10">
                  <div class="col-md-12">
                    <i class="fa fa-clipboard edit pull-right pointer" clipboard data-clipboard-target=".timeline-data-[[ $index ]]"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "inline_forms/clinical_advice.html" %}



<div class="panel panel-default hidden-print">
  <div class="panel-heading">
    <h3>Demo</h3>
  </div>
  <div class="panel-body">
    <a href="/pathway/#/cernerdemo/[[ patient.id ]]/[[ episode.id ]]">View Cerner form for this patient</a>
  </div>
</div>
</div>
