[run]
source =
       elcid
       intrahospital_api

omit =
    */migrations/*
    elcid/test/*
    intrahospital_api/test/*
    elcid/wsgi*
    elcid/settings.py
    elcid/templates/acceptance/*


[report]

exclude_lines =
    def __unicode__
