[run]
source =
       elcid
       intrahospital_api
       lab
       plugins/appointments
       plugins/icu
       plugins/labtests

omit =
    */migrations/*
    elcid/test/*
    intrahospital_api/test/*
    elcid/wsgi*
    elcid/settings.py
    elcid/local_settings.py
    elcid/templates/acceptance/*
    lab/tests/*
    plugins/labtests/tests/*
    plugins/*/migrations/*
    fabfile.py


[report]

exclude_lines =
    def __unicode__
