[run]
source =
       elcid
       intrahospital_api
       lab

omit =
    */migrations/*
    elcid/test/*
    intrahospital_api/test/*
    elcid/wsgi*
    elcid/settings.py
    elcid/local_settings.py
    elcid/templates/acceptance/*
    lab/tests/*
    fabfile.py


[report]

exclude_lines =
    def __unicode__
