# cryptography is required for heroku deployment
#cryptography==1.3.2
jinja2==2.10
django==2.0.13
django-reversion==3.0.1
djangorestframework==3.7.4
letter==0.5

cffi==1.7.0
coverage==3.6
dj-database-url==0.2.1
gunicorn==0.17.4
psycopg2==2.7
dj-static==0.0.6
django-axes==1.7.0
django-debug-toolbar==1.2.1
mock==1.0.1
requests==2.20.1
python-dateutil==2.7.5
celery==3.1.25
django-celery==3.2.2
django-compressor==2.2
jsonfield==2.0.2
pycrypto==2.6.1
paramiko==1.16.0
pyasn1==0.1.9
pycparser==2.14
pytz==2015.7
sqlparse==0.1.16
static3==0.6.1
Fabric==1.14.0

# intrahospital_api
python-tds==1.8.2

# Open Health Care repositories on GitHub
-e git+https://github.com/openhealthcare/opal.git@v0.16.rc1#egg=opal
-e git+https://github.com/openhealthcare/opal-observations.git@v0.5.0#egg=opal_observations
