<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <i class="fa fa-line-chart"></i> Observations
      <i class="fa fa-plus-circle edit pull-right"
         ng-click="episode.recordEditor.newItem('observation')"></i>
    </h3>
  </div>
  <table
     class="table table-striped table-hover search pointer"
    {% comment %}
     ng-click="open_modal('ObsChartCtrl', '/obs/chart/'+episode.id, {episode: episode})"
    {% endcomment %}
     >
    <thead>
      <tr>
        <td>Date</td>
        <td>Weight</td>
        <td>Height</td>
        <td>RR</td>
        <td>Sp02</td>
      </tr>
    </thead>
    <tbody>
      <tr class="table-edit" ng-repeat="ob in episode.observation|limitTo:5">
        <td>[[ob.datetime | displayDate ]]</td>
      	<td>[[ob.weight]]</td>
      	<td>[[ob.height]]</td>
        <td>[[ob.resp_rate]]</td>
        <td>[[ob.sp02]]</td>
        <td>
          <i
            class="fa fa-pencil edit pull-right pointer"
            ng-click="episode.recordEditor.editItem('observation', $index)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="panel-body" ng-show="episode.observation.length > 0">
    <button class="btn btn-secondary pull-right"
            ng-click="open_modal('ObsChartCtrl', '/obs/chart/'+episode.id, {episode: episode})">
      <i class="fa fa-external-link"></i>
      See all
    </button>

  </div>
</div>
