{% load forms %}
<div class="well">
  <h4 class="text-center">First line regimen</h4>
  <p>
    Isoniazid (with pyridoxine), rifampicin, pyrazinamide and ethambutol for 2 months
  </p>
  <p class="text-center">
    <b>then</b>
  </p>
  <p>
    Isoniazid (with pyridoxine) and rifampicin for a further 4 months.
  </p>
  <center>
    <button class="btn btn-primary btn-lg" ng-disabled="!localEditing.weight" ng-click="useTreatmentPlan(1)">
      {% icon "glyphicon-plus" %}
      Use this treatment
    </button>
  </center>
</div>
