{% load forms %}
{% datetimepicker field="Observation.datetime" %}
<div class="form-group">
  <label class="control-label col-sm-3">BP</label>
  <div class="col-sm-4">
    <input class="form-control" type="number"
           placeholder="Systolic"
           name="bp_systolic"
           ng-model="editing.observation.bp_systolic" />
   <span class="help-block" ng-show="form.bp_systolic.$error.pattern">
     Systolic must be a number
   </span>
  </div>
  <div class="col-sm-4">
    <input class="form-control" type="number"
           placeholder="Diastolic"
           ng-model="editing.observation.bp_diastolic"
           name="diastolic"
           />
     <span class="help-block" ng-show="form.diastolic.$error.pattern">
       Diastolic must be a number
     </span>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label col-sm-3">Pulse</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="pulse" ng-model="editing.observation.pulse">
      </div>
      <label class="control-label"><small>(beats/min)</small></label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label col-sm-3">Resp rate</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="resp_rate" ng-model="editing.observation.resp_rate">
      </div>
      <label class="control-label"><small>(breaths/min)</small></label>
    </div>
  </div>
</div>


<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label col-sm-3">Sp02</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="sp02" ng-model="editing.observation['sp02']">
      </div>
      <label class="control-label"><small>(%)</small></label>
    </div>
  </div>
</div>


<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label col-sm-3">Weight</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="weight" ng-model="editing.observation.weight">
      </div>
      <label class="control-label"><small>(kg)</small></label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label col-sm-3">Height</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="height" ng-model="editing.observation.height">
      </div>
      <label class="control-label"><small>(m)</small></label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label class="control-label col-sm-3">BMI</label>
      <div class="field-text col-sm-8">
        <span ng-show="editing.observation.height && editing.observation.weight">
          [[ editing.observation.height | bmi: editing.observation.weight ]]
        </span>
        <span ng-hide="editing.observation.height && editing.observation.weight">
          Unknown
        </span>
      </div>
    </div>
  </div>
</div>
