{% load forms %}
{% radio label="" field="TBHistory.previous_tb_contact" %}
<div ng-show="editing.tb_history.previous_tb_contact === '{{ models.TBHistory.PREVIOUS_TB_DIAGNOSIS }}'">

  <div class="row">
    <div class="col-md-12">
      <h5>For How Long Were You Treated?</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {% input label="Years" field="TBHistory.how_long_treated_years" %}
    </div>
    <div class="col-md-4">
      {% input label="Months" field="TBHistory.how_long_treated_months" %}
    </div>
    <div class="col-md-4">
      {% input label="Days" field="TBHistory.how_long_treated_days" %}
    </div>
  </div>
</div>



<div ng-hide="editing.tb_history.previous_tb_contact === '{{ models.TBHistory.NONE }}'">
  <div class="row content-offset-below-10">
    <div class="col-md-12" ng-show="editing.tb_history.previous_tb_contact === 'Personal'">
      <h5>How Long Ago Did You Have TB?
    </div>
    <div class="col-md-12" ng-show="editing.tb_history.previous_tb_contact === 'Other'">
      <h5>How Long Ago Did You Have Contact With Somone Who Had TB?
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>How Long Ago?</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {% input label="Years" field="TBHistory.how_long_ago_years" %}
    </div>
    <div class="col-md-4">
      {% input label="Months" field="TBHistory.how_long_ago_months" %}
    </div>
    <div class="col-md-4">
      {% input label="Days" field="TBHistory.how_long_ago_days" %}
    </div>
  </div>
</div>


<div ng-show="editing.tb_history.previous_tb_contact === '{{ models.TBHistory.PREVIOUS_TB_DIAGNOSIS }}'">
  {% input field="TBHistory.country_treated" %}
  <div ng-show="editing.tb_history.country_treated === 'United Kingdom'">
    {% input field="TBHistory.treatment_centre" %}
  </div>
  {% radio field="TBHistory.tb_type" %}
  <div ng-show="editing.tb_history.tb_type === 'Active' || editing.tb_history.tb_type === 'Unknown'">
    {% input field="TBHistory.site_of_tb" %}
  </div>
</div>
{% textarea field="TBHistory.details" %}
