{% load forms %}

{% input field="TBHistory.tb_type" %}
{% input field="TBHistory.site_of_tb" %}
<div class="form-group">
  <label class="control-label col-sm-3">
    Date of diagnosis
  </label>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-md-3">
        <input placeholder="Year" class="form-control" type="number" ng-model="editing.tb_history.diagnosis_date_year" autocomplete="off">
      </div>
      <div class="col-md-3">
        <input placeholder="Month" class="form-control" type="number" ng-model="editing.tb_history.diagnosis_date_month" autocomplete="off">
      </div>
      <div class="col-md-3">
        <input placeholder="Day" class="form-control" type="number" ng-model="editing.tb_history.diagnosis_date_day" autocomplete="off">
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">
    Treatment length
  </label>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-md-3">
        <input placeholder="Years" class="form-control" type="number" ng-model="editing.tb_history.how_long_treated_years" autocomplete="off">
      </div>
      <div class="col-md-3">
        <input placeholder="Months" class="form-control" type="number" ng-model="editing.tb_history.how_long_treated_months" autocomplete="off">
      </div>
      <div class="col-md-3">
        <input placeholder="Days" class="form-control" type="number" ng-model="editing.tb_history.how_long_treated_days" autocomplete="off">
      </div>
    </div>
  </div>
</div>
{% textarea field="TBHistory.diagnosis_details" label="Details" %}
