<span ng-show="item.when">[[ item.when | shortDate ]] <br /></span>
<span ng-show="item.initials">[[ item.initials ]] <br /></span>
<span ng-show="item.reason_for_interaction">[[ item.reason_for_interaction ]]<br /></span>
<span ng-show="item.assessment">[[ item.assessment ]] <br /></span>
<span ng-show="item.discussion">[[ item.discussion ]] <br /></span>
<span ng-show="item.reason_for_interaction">[[ item.reason_for_interaction ]] <br /></span>
<span ng-show="item.plan">[[ item.plan ]] <br /></span>