<span ng-show="item.consistency_token">
  <div class="row">
    <label class="control-label col-sm-5">
      Smoking:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.smoking ]]
    </p>
  </div>

  <div class="row">
    <label class="control-label col-sm-5">
      Alcohol:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.drinking ]]
      <span ng-show="item.history_of_alocohol_dependence">
        (history of alochol dependence)
      </span>
    </p>
  </div>

  <div class="row">
    <label class="control-label col-sm-5">
      Recreational Drug Use:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.recreational_drug_use ]]
      <span ng-show="item.recreational_drug_type">
        ([[ item.recreational_drug_type ]])
      </span>
      <br />
      <span ng-show="item.receiving_treatment">
        Receiving treatement
        <span ng-show="item.opiate_replacement_therapy">
          (Receiving ORT)
        </span>
      </span>
    </p>
  </div>

  <div ng-show="item.drug_community_worker.length" class="row">
    <label class="control-label col-sm-5">
      Alcohol/Drug Community Worker:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.drug_community_worker ]]
    </p>
  </div>

  <div class="row">
    <label class="control-label col-sm-5">
      Homelessness:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.homelessness ]]
      <span ng-show="item.homelessness_type.length">
        ([[ item.homelessness_type ]])
      </span>
    </p>
  </div>

  <div class="row">
    <label class="control-label col-sm-5">
      Prison History:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.prison_history ]]
    </p>
  </div>
  <div ng-show="item.probation_officer" class="row">
    <label class="control-label col-sm-5">
      Probation officer:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.probation_officer ]]
    </p>
  </div>
  <div ng-show="item.prison_history_details.length" class="row">
    <label class="control-label col-sm-5">
      Details:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.prison_history_details ]]
    </p>
  </div>

  <div class="row">
    <label class="control-label col-sm-5">
      Mental health issues:
    </label>
    <p class="form-control-static col-sm-7">
      <span ng-show="item.mental_health_issues">
        Yes
      </span>
      <span ng-hide="item.mental_health_issues">
        No
      </span>
      <span ng-show="item.community_nurse">
        CPN/CMHT: [[ item.community_nurse ]]
      </span>
    </p>
  </div>
  <div ng-show="item.notes" class="row">
    <label class="control-label col-sm-5">
      Notes:
    </label>
    <p class="form-control-static col-sm-7">
      [[ item.notes ]]
    </p>
  </div>
</span>
