<span ng-show="item.notes">
    [[ item.notes ]]
   <br />
</span>
<span ng-show="item.drinking">
    [[ item.drinking ]]
   <br />
</span>
<span ng-show="item.alcohol_dependent">
     Alcohol Dependent
   <br />
</span>
<span ng-show="item.smoking">
    [[ item.smoking ]]
   <br />
</span>
<span ng-show="item.occupation">
    [[ item.occupation ]]
   <br />
</span>
<span ng-show="item.homelessness">
    [[ item.homelessness ]]
   <br />
</span>
<span ng-show="item.intravenous_drug_use">
    [[ item.intravenous_drug_use ]]
   <br />
</span>
<span ng-show="item.incarceration">
    [[ item.incarceration ]]
   <br />
</span>
<span ng-show="item.arrival_in_the_uk">
    [[ item.arrival_in_the_uk ]]
   <br />
</span>