Previous [[ item.tb_type ]] [[ item.site_of_tb ]] TB Diagnosis
<span ng-show="item.diagnosis_date_year || item.diagnosis_date_month || item.diagnosis_date_day">
    -
    [[ item.diagnosis_date_day ]] [[ item.diagnosis_date_month|month ]] [[ item.diagnosis_date_year ]]
    <br />
</span>




<span ng-show="item.how_long_treated_years || item.how_long_treated_months || item.how_long_treated_days">
    Treated for
    <span ng-show="item.how_long_treated_years">
          [[ item.how_long_treated_years ]] [[ 'year'|plural:item.how_long_treated_years ]]
    </span>
    <span ng-show="item.how_long_treated_months">
          [[ item.how_long_treated_months ]] [[ 'month'|plural:item.how_long_treated_months ]]
    </span>
    <span ng-show="item.how_long_treated_days">
          [[ item.how_long_treated_days ]] [[ 'day'|plural:item.how_long_treated_days ]]
    </span>
    <br />
</span>
<span ng-show="item.country_treated || item.treatment_centre">
    In [[ item.country_treated ]] [[ item.treatment_centre ]]
</span>
<span ng-show="item.diagnosis_details">
      [[ item.diagnosis_details ]]
      <br />
</span>

