<strong>[[ item.lab_test_type ]]
  <span ng-show="item.date_ordered">
    ([[ item.date_ordered | shortDate ]]/
      <span ng-show="item.extras.aerobic">Aerobic</span>
      <span ng-hide="item.extras.aerobic">Anaerobic</span>
    )
  </span>
</strong>
{% for observation in lab_test.retrieve_observations %}
  <span ng-show="item.{{ observation.name }}.result">
    [[ item.{{ observation.name }}.result ]]
  </span>
{% endfor %}
<div ng-show="item.sensitive_antibiotics.length"><strong>Sensitive </strong>[[ item.sensitive_antibiotics.join(",") ]]</div>
<div ng-show="item.resistant_antibiotics.length"><strong>Reistant </strong>[[ item.resistant_antibiotics.join(",") ]]</div>
