<span ng-show="item.lab_test_type === 'QuickFISH' || item.lab_test_type === 'GPC Staph' || item.lab_test_type === 'GPC Strep' || item.lab_test_type === 'GNR'">
  QuickFISH
</span>
<span ng-hide="item.lab_test_type === 'QuickFISH' || item.lab_test_type === 'GPC Staph' || item.lab_test_type === 'GPC Strep' || item.lab_test_type === 'GNR'">
  [[ item.lab_test_type ]]
</span>
{% for observation in lab_test.retrieve_observations %}
  <span ng-show="item.{{ observation.name }}.result">
    [[ item.{{ observation.name }}.result ]]
  </span>
{% endfor %}
<div class="push-left-12" ng-show="item.sensitive_antibiotics.length">- Sensitive: [[ item.sensitive_antibiotics.join(", ") ]]</div>
<div class="push-left-12" ng-show="item.resistant_antibiotics.length">- Resistant: [[ item.resistant_antibiotics.join(", ") ]]</div>
