<div class="content-offset">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>
        {{ OPAL_BRAND_NAME }} Beta
      </h1>
      <p>
        These features are in preview and only available to admin superusers.
      </p>
    </div> <!-- heading -->
    <div class="panel-body">
      <ul>
        <li>
          <a href="/#/lab-sync-performance/">Lab result dahsboard</a>
        </li>
        <li>
          <a href="{% url 'covid_amt_dashboard' %}">AMT Dashboard</a>
        </li>
        <li>
          <a href="/#/recent-covid-pos/">Recent Covid Positives</a>
        </li>
        <li>
          <a href="/#/system-stats/">System stats</a>
        </li>
        <li>
          <a href="/#/nursing-handover/">Nursing Handover Mirror</a>
        </li>
        <li>
          <a href="/#/ipc/">IPC Module</a>
        </li>
        <li>
          <a href="/#/patient-information-load-stats/">Patient information load stats</a>
        </li>
        <li>
          <a href="/#/imaging-load-stats/">Imaging load stats</a>
        </li>
        <li>
          <a href="/#/appointment-load-stats/">Appointment load stats</a>
        </li>
        <li>
          {% now "Y" as current_year %}
          <a href="/#/tb/clinic-activity/{{ current_year }}/">
            Clinic Activity
          </a>
        </li>
        <li>
          <a href="/#/admission-load-stats/">Admission load stats</a>
        </li>
      </ul>
    </div> <!-- Panel -->
  </div>
