{% extends 'letters/base.html' %}
{% block letter_content %}
{% for ward, episodes in episodes_by_ward.items %}
<h2>{{ ward }}</h2>
{% for episode in episodes %}
<table class="table table-bordered">
  <tr>
    <td class="col-xs-4">
      <strong>Name</strong>
    </td>
    <td class="col-xs-8">
      {{ episode.name }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Hospital number</strong>
    </td>
    <td>
      {{ episode.hospital_number }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Unit/ward</strong>
    </td>
    <td>
      {{ episode.unit_ward }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Issue</strong>
    </td>
    <td>
      {{ episode.diagnosis }}
    </td>
  </tr>
  {% if episode.clinical_advices %}
  <tr>
    <td colspan="2">
      {% for clinical_advice in episode.clinical_advices %}
      <div class="row">
        <div class="col-md-12">
          <h3>
            {% if clinical_advice.when %}
              {{ clinical_advice.when }}
            {% endif %}
            {{ clinical_advice.initials }}
            {% if clinical_advice.reason_for_interaction %}
            {{ reason_for_interaction }}
            {% endif %}
          </h3>
        </div>
      </div>

      {% if clinical_advice.clinical_discussion %}
      <div class="row">
        <div class="col-md-12">
          <strong>Clinical discussion:</strong>
          {{ clinical_advice.clinical_discussion }}
        </div>
      </div>
      {% endif %}
      {% if clinical_advice.infection_control %}
      <div class="row">
        <div class="col-md-12">
          <strong>Infection control:</strong>
          {{ clinical_advice.infection_control }}
        </div>
      </div>
      {% endif %}
      {% if clinical_advice.discussed_with %}
      <div class="row">
        <div class="col-md-12">
          <strong>Discussed with:</strong>
          {{ clinical_advice.discussed_with }}
        </div>
      </div>
      {% endif %}
      {% if clinical_advice.agreed_plan %}
      <div class="row">
        <div class="col-md-12">
          <strong>Agreed plan:</strong>
          {{ clinical_advice.agreed_plan }}
        </div>
      </div>
      {% endif %}

      {% endfor %}
    </td>
  </tr>
  {% endif %}
</table>
&nbsp;
{% endfor %}
{% endfor %}
{% endblock %}