{% extends 'letters/base.html' %}
{% block letter_content %}
{% for ward, episodes in episodes_by_ward.items %}
<h2>{{ ward }}</h2>
{% for episode in episodes %}
{# we need to set width in html so cut and paste to word works #}
<table width="100%" class="table table-bordered">
  <tr>
    <td class="col-xs-4">
      <strong>Name</strong>
    </td>
    <td class="col-xs-8">
      {{ episode.name }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Hospital number</strong>
    </td>
    <td>
      {{ episode.hospital_number }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Unit/ward</strong>
    </td>
    <td>
      {{ episode.unit_ward }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Issue</strong>
    </td>
    <td>
      {% if episode.primary_diagnosis %}
      <strong>{{ episode.primary_diagnosis }}{% if episode.diagnosis %},{% endif %}</strong>
      {% endif %}
      {{ episode.diagnosis }}
    </td>
  </tr>
  <tr>
    <td colspan="2">
      {% if episode.blood_culture_sets %}
      <h3>Blood Cultures</h3>
      {% endif %}
      {% for blood_culture_set in episode.blood_culture_sets %}
      <strong>{{ blood_culture_set.date_ordered | date }}</strong>
      <br />
      {% if blood_culture_set.source %}
      Source: {{ blood_culture_set.source }}
      <br />
      {% endif %}
      {% for isolate in blood_culture_set.isolates.all %}
      {% if isolate.aerobic_or_anaerobic %}
        <strong>
          {{ isolate.aerobic_or_anaerobic }}
        </strong>
        <br />
      {% endif %}
      {% if isolate.date_positive %}
        Positive: {{ isolate.date_positive | date }}
        <br />
      {% endif %}
      {% if isolate.gram_stain %}
        Gram Stain: {{ isolate.gram_stain }}
        <br />
      {% endif %}
      {% if isolate.quick_fish %}
        QuickFISH: {{ isolate.quick_fish }}
        <br />
      {% endif %}

      {% if isolate.gpc_staph %}
        QuickFISH: {{ isolate.gpc_staph }}
        <br />
      {% endif %}

      {% if isolate.gpc_strep %}
        QuickFISH: {{ isolate.gpc_strep }}
        <br />
      {% endif %}

      {% if isolate.sepsityper_organism %}
        Sepsityper organism: {{ isolate.sepsityper_organism }}
        <br />
      {% endif %}

      {% if isolate.organism %}
        Organism: {{ isolate.organism }}
        {% if isolate.sensitivities.all %}
        <div>
          Sensitive:
          {% for sensitiviy in isolate.sensitivities.all %}
           {{ sensitiviy }}
          {% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if isolate.resistance.all %}
        <div>
          Resistant:
          {% for resistance in isolate.resistance.all %}
           {{ resistance }}
          {% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <br />
      {% endif %}
      {{ isolate.notes }}

      {% endfor %}
      <br />
      {% endfor %}


      {% if episode.lines %}
      <h3>Line</h3>
      {% endif %}
      {% for line in episode.lines %}
      <div class="row">
        <div class="col-md-12">
          {{ line.line_type }}, {{ line.site }}
          {% if line.external_length %}
          ({{ line.external_length }}cm)
          {% endif %}
          <br />
          {% if line.button_hole %}
          Button Hole <br />
          {% endif %}
          {% if line.fistula %}
          Fistula <br />
          {% endif %}
          {% if line.graft %}
          Graft <br />
          {% endif %}
          {% if line.tunnelled_or_temp %}
          {{ line.tunnelled_or_temp }}<br />
          {% endif %}

          {% if line.insertion_datetime %}
            Inserted: <span class="nowrap">{{ line.insertion_datetime | date }}
          {% endif %}

          {% if line.line_type == 'Peripheral cannula' %}
            {{ line.insertion_datetime | date:"GH" }}
          {% endif %}

          {% if not line.removal_datetime %}
            Removed {{ line.removal_datetime | date }}
            {% if line.removal_reason %}
            due to {{ line.removal_reason }}
            {% endif %}
            <br />
          {% endif %}
          <br />
          {% if line.complications %}
            Complications: {{ line.complications }}
          {% endif %}
        </div>
      </div>
      <br />
      {% endfor %}



      {% if episode.clinical_advices %}
      <h3>Clinical Advice</h3>
      {% endif %}
      {% for clinical_advice in episode.clinical_advices %}
      <div class="row">
        <div class="col-md-12">
          <h3>
            {% if clinical_advice.when %}
              {{ clinical_advice.when }}
            {% endif %}
            {{ clinical_advice.initials }}
            {% if clinical_advice.reason_for_interaction %}
            {{ reason_for_interaction }}
            {% endif %}
          </h3>
        </div>
      </div>
      {% if clinical_advice.discussed_with %}
      <div class="row">
        <div class="col-md-12">
          <strong>Discussed with:</strong>
          {{ clinical_advice.discussed_with.strip }}
        </div>
      </div>
      {% endif %}
      {% if clinical_advice.clinical_discussion %}
      <div class="row">
        <div class="col-md-12">
          <strong>Clinical discussion:</strong>
          <span ng-bind-html="'{{ clinical_advice.clinical_discussion.strip|addslashes }}'|markdown"></span>
        </div>
      </div>
      {% endif %}
      {% if clinical_advice.infection_control %}
      <div class="row">
        <div class="col-md-12">
          <strong>Infection control:</strong>
          <span ng-bind-html="'{{ clinical_advice.infection_control.strip|addslashes }}'|markdown"></span>
        </div>
      </div>
      {% endif %}
      {% if clinical_advice.agreed_plan %}
      <div class="row">
        <div class="col-md-12">
          <strong>Agreed plan:</strong>
          <span ng-bind-html="'{{ clinical_advice.agreed_plan.strip|addslashes }}'|markdown"></span>
        </div>
      </div>
      {% endif %}

      {% endfor %}
    </td>
  </tr>
</table>
&nbsp;
{% endfor %}
{% endfor %}
{% endblock %}