{% extends 'letters/base.html' %} {% block letter_content %}
<h2>
  Latent TB medical clinic – new patient assessment
  <br />
  <small>
    {{ demographics.name }}
    {% if demographics.date_of_birth %}
      ({{ demographics.date_of_birth }})
    {% endif %}
  </small>
</h2>
<div class="row content-offset-below-10 content-offset">
  <div class="col-md-12">
    <b>Clinic date:</b><br />
    {{ object.when|date:"j M Y" }}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Referred by:</b><br />
    {{ referral.referral_type }}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Language:</b><br />
    {{ communication_considerations.language }}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Reason for referral:</b><br />
    {{ referral.referral_reason }}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Previous TB Diagnosis: </b><br />
    {{ tb_history.tb_type }}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Previous TB Contact: </b><br />
    {% if tb_history.previous_tb_contact %} Previous TB contact recorded. {% endif %}
    {% if tb_history.contact_details %} &nbsp;
    {{ tb_history.contact_details }}
    {% endif %}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Past medical history: </b><br />
    <ul>
      {% for pmh in past_medical_history_list %}
      <li>
        {{ pmh.condition }}{% if pmh.year %}({{ pmh.year }}) {% endif %} &nbsp;
        {{ pmh.details }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Medication history: </b><br />
    <ul>
      {% for past_medication in past_medication_list %}
      <li>
        {{ past_medication.drug }} &nbsp;
        {{ past_medication.dose }}
        {{ past_medication.start_date | date }}
        {% if past_medication.start_date %} - {% endif %}
        {% if past_medication.end_date and past_medication.start_date %}
        {{ past_medication.end_date | date }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Allergies: </b><br />
    {% if allergies_list.exists %}
    <ul>
      {% for allergy in allergies_list %}
      <li>
        {{ allergy.drug }}{% if allergy.provisional %}? {% endif %} &nbsp;
        {{ allergy.details }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Smoking:</b><br />
      {{ social_history.smoking }}
    </p>
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Social history:</b><br />
      {{ social_history.notes }}
    </p>
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Alcohol:</b><br />
    {% if social_history.drinking %}
    {{ social_history.drinking }}
    {% endif %}
    {% if social_history.history_of_alocohol_dependence %}
    (history of dependence)
    {% endif %}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Recreational drug use:</b><br />
    {{ social_history.recreational_drug_use }}
    {% if social_history.recreational_drug_type %}
    ({{ social_history.recreational_drug_type }})
    {% endif %}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Weight:</b><br />
    {{ weight }}
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12"><b>IGRA:</b><br /></div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12"><b>Chest radiograph:</b><br /></div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12"><b>Other Investigations:</b><br /></div>
</div>

<div class="row content-offset-below-10">
    <div class="col-md-12"><b>Clinical assessment:</b><br />{{ object.assessment }}</div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <b>Diagnosis: </b><br />
    {% if diagnosis_list.exists %}
    <ul>
        {% for diagnosis in diagnosis_list %}
        <li>
          <div class="row">
            <div class="col-sm-12">
              {{ diagnosis.drug }}
              {% if diagnosis.provisional %}?{% endif %} date_of_diagnosis
              {{ diagnosis.date_of_diagnosis }}
              &nbsp;
              {{ diagnosis.details }}
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<div class="row content-offset-below-10">
    <div class="col-md-12"><b>Plan:</b><br />{{ object.plan }}</div>
</div>


{% endblock %}
