{% extends 'letters/base.html' %} {% block letter_content %}
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Primary diagnosis: </b><br />
      {% if primary_diagnosis_list.exists %}
        {% for diagnosis in primary_diagnosis_list %}
        <div>
          {{ diagnosis.condition }}
          {% if diagnosis.provisional %}?{% endif %}
          {% if diagnosis.details %}
            <br />
            {{ diagnosis.details }}
          {% endif %}
        </div>
        {% endfor %}
      {% else %}
      <div>
        No recorded primary diagnoses
      </div>
      {% endif %}
    </p>
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Secondary diagnoses: </b><br />
      {% if secondary_diagnosis_list.exists %}
        {% for diagnosis in secondary_diagnosis_list %}
        <div>
          {{ diagnosis.condition }}
          {% if diagnosis.provisional %}?{% endif %}
          {% if diagnosis.details %}
            <br />
            {{ diagnosis.details }}
          {% endif %}
        </div>
        {% endfor %}
      {% else %}
      <div>
        No recorded secondary diagnoses
      </div>
      {% endif %}
    </p>
  </div>
</div>


<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>TB medication: </b><br />
      {% if tb_medication_list.exists %}
      {% for tb_treatment in tb_medication_list %}
      <div>
        {{ tb_treatment.drug }} &nbsp;
        {{ tb_treatment.dose }}
        {{ tb_treatment.start_date | date }}
        {% if tb_treatment.start_date and tb_treatment.end_date %}
        - {{ tb_treatment.end_date | date }}
        {% endif %}
        {% if tb_treatment.planned_end_date %}
        <br />planned end date: {{ tb_treatment.planned_end_date }}
        {% endif %}
      </div>
      {% endfor %}
      {% else %}
      <div>
        No recorded medications
      </div>
      {% endif %}
    </p>
  </div>
</div>

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Other medication: </b><br />
      {% for tb_treatment in other_medication_list %}
      <div>
        {{ tb_treatment.drug }} &nbsp;
        {{ tb_treatment.dose }}
        {{ tb_treatment.start_date | date }}
        {% if tb_treatment.start_date and tb_treatment.end_date %}
        - {{ tb_treatment.end_date | date }}
        {% endif %}
        {% if tb_treatment.planned_end_date %}
        <br />planned end date: {{ tb_treatment.planned_end_date }}
        {% endif %}
      </div>
      {% endfor %}
      {% if not other_medication_list.exists %}
      <div>No recorded medications</div>
      {% endif %}
    </p>
  </div>
</div>
{% if adverse_reaction_list.exists %}
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
    <b>Adverse reactions:</b><br />
    {% for adverse_reaction in adverse_reaction_list %}
    <div>
      {{ adverse_reaction.details }}
    </div>
    {% endfor %}
    </p>
  </div>
</div>
{% endif %}

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Allergies: </b><br />
      {% if allergies_list.exists %}
      {% for allergy in allergies_list %}
      <div>
        {{ allergy.drug }}{% if allergy.provisional %}? {% endif %} &nbsp;
        {{ allergy.details }}
      </div>
      {% endfor %}
      {% else %}
      <div>
        No recorded allergies
      </div>
      {% endif %}
    </p>
  </div>
</div>


<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Progress:</b><br />
      {{ object.progress }}
    </p>
  </div>
</div>
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Weight:</b><br />
      {{ weight }}
    </p>
  </div>
</div>
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Examination findings:</b><br />
      {{ object.examination_findings }}
    </p>
  </div>
</div>
{% if results %}
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Key investigations: </b><br />
      {% for obs_name, summary in results.items %}
      <div>
        {{ obs_name }}&nbsp;
        {{ summary.observation_value }} ({{ summary.observation_datetime|slice:":10" }})
      </div>
      {% endfor %}
    </p>
  </div>
</div>
{% endif %}
{% for imaging in imaging_list %}
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
    <b>
    {{ imaging.imaging_type }}
    {% if imaging.site %}({{ imaging.site }}){% endif %}:
    </b><br />
    {{ imaging.date | date }} {{ imaging.details }}<br />
    </p>
  </div>
</div>
{% endfor %}

{% for other_investigation in other_investigation_list %}
<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
    <b>{{ other_investigation.name }}:</b><br />
    {{ other_investigation.date | date }} {{ other_investigation.details }}
    </p>
  </div>
</div>
{% endfor %}

<div class="row content-offset-below-10">
  <div class="col-md-12">
    <p>
      <b>Discussion:</b><br />
      <span ng-bind-html="'{{ object.discussion }}'|markdown"></span>
    </p>
  </div>
</div>

<div class="row content-offset-below-10">
    <div class="col-md-12">
      <p>
        <b>Plan:</b><br /><span ng-bind-html="'{{ object.plan }}'|markdown"></span>
      </p>
    </div>
</div>

{% endblock %}
