{% load forms %}
<div class="form-group form-horizontal">
  {% datepicker field="BloodCulture.date_ordered" %}
  {% datepicker field="BloodCulture.date_positive" %}
  {% select label="Type" model="editing.blood_culture.anaerobic" lookuplist="['Aerobic', 'Anaerobic']" %}
  {% input field="BloodCulture.source" %}
  {% input field="BloodCulture.details" %}
  {% input field="BloodCulture.microscopy" %}
  {% select field="BloodCulture.organisms" multiple=True tagging=False %}
  {% select field="BloodCulture.sensitive_antibiotics" multiple=True tagging=False %}
  {% select field="BloodCulture.resistant_antibiotics" multiple=True tagging=False %}
</div>
