{% load forms %}
<div ng-show="editing.demographics.external_system">
  {% static "Demographics.hospital_number" %}
  {% static "Demographics.nhs_number" %}
  <div class="form-group">
    <span ng-show="editing.demographics.external_system">
      <label class="control-label col-sm-3">
        Name
      </label>
      <p class="form-control-static col-sm-8">
        [[ editing.demographics.title ]]
        [[ editing.demographics.first_name ]]
        [[ editing.demographics.surname ]]
      </p>
    </span>
  </div>
  {% static "Demographics.sex" %}
  {% static "Demographics.marital_status" %}
  {% static "Demographics.ethnicity" %}
  {% static "Demographics.birth_place" %}
</div>
<div ng-hide="editing.demographics.external_system">
  {% input "autofocus" field="Demographics.hospital_number" %}
  {% input field="Demographics.nhs_number" label="NHS Number" %}
  {% select field="Demographics.title" %}
  {% input field="Demographics.first_name" %}
  {% input field="Demographics.surname" %}
  {% date_of_birth_field %}
  {% select field="Demographics.sex" %}
  {% select field="Demographics.marital_status" %}
  {% select field="Demographics.ethnicity" %}
  {% input field="Demographics.birth_place" %}
</div>
