{% load forms %}
{% select label="Line Type" model="editing.line.line_type" lookuplist="line_type_list" %}
{% checkbox label="Button Hole" model="editing.line.button_hole" %}
{% checkbox label="Fistula" model="editing.line.fistula" %}
{% checkbox label="Graft" model="editing.line.graft" %}

{% radio label="" model="editing.line.tunnelled_or_temp" lookuplist="['Tunnelled', 'Temporary']" %}

{% input label="Site" model="editing.line.site" lookuplist="line_site_list" %}
{% datetimepicker field="Line.insertion_datetime" %}
{% input label="Inserted By" model="editing.line.inserted_by" %}
{% input label="External Length When Inserted" model="editing.line.external_length" show="editing.line.line_type != 'Peripheral cannula'" unit="cm" %}
{% datetimepicker field="Line.removal_datetime" %}
{% select label="Complications" model="editing.line.complications" lookuplist="line_complication_list" other=True %}
{% select label="Removal Reason" model="editing.line.removal_reason" lookuplist="line_removal_reason_list" %}
{% textarea label="Further Information" field="Line.special_instructions" %}
