{% load forms %}
{% datepicker  label="Review Date" model="editing.review_date"  %}
{% input  label="Reason For Stopping" model="editing.reason_for_stopping"  %}
{% input  label="Stopping Iv Details" model="editing.stopping_iv_details"  %}
{% input  label="Treatment Outcome" model="editing.treatment_outcome"  %}
{% input  label="Death Category" model="editing.death_category"  %}
{% input  label="Cause Of Death" model="editing.cause_of_death"  %}
{% input  label="Readmission Cause" model="editing.readmission_cause"  %}
{% textarea  label="Notes" model="editing.notes"  %}
{% input  label="Unplanned Stop Reason" model="editing.unplanned_stop_reason"  %}