{% load forms %}
<div class="container content-offset">
  <div class="panel panel-primary panel-container">
    <div class="panel-heading">
      <h2>
        {% icon models.ExternalDemographics.get_icon %}
        {{ patient_list.display_name }}
      </h2>
    </div>
    <div class="panel-body">
      <div class="row screen-only">
          <form class="form-inline">
            <div class="col-md-12">
            <h1 >
              <div class="btn-group pull-left" uib-dropdown is-open="status.isopen">
                <button type="button" class="btn btn-secondary" uib-dropdown-toggle ng-disabled="disabled" id="list-dropdown">
                  <i class="fa fa-user-md"></i>
                  {{ patient_list.display_name }}
                  <i class="fa fa-angle-down"></i>
                </button>
                <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
                  {% for list in lists %}
                  {% if list.get_slug != list_slug %}
                  <li>
                    <a href="#/list/{{ list.get_slug }}">
                      {{ list.display_name }}
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </h1>
          </div>
          </form>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <div ng-repeat="row in rows" class="panel panel-default content-offset patient-row">
            <a class="panel-link" href="[[ '/#/patient/' + row.demographics[0].patient_id + '/' + row.id ]]">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-12">
                    <h3><i class="fa fa-user"></i>
                      [[ row.demographics[0].first_name ]] [[ row.demographics[0].surname ]] [[ row.demographics[0].hospital_number ]]
                      <small>
                        [[ row.demographics[0].date_of_birth|shortDate ]]
                        <span ng-show="row.location[0].ward">
                          &nbsp; {% icon models.Location.get_icon %} [[ row.location[0].ward ]]
                        </span>
                      </small>
                    </h3>
                  </div>
                </div>
              </div>
              <div uib-collapse="isCardCollapsed" class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <h4><strong>
                        {% icon models.Demographics.get_icon %} {{ models.Demographics.get_display_name }}
                    </strong></h4>
                    <p ng-repeat="item in row.demographics">
                      <span ng-show="item.hospital_number">
                          [[ item.hospital_number ]]
                         <br />
                      </span>
                      <span ng-show="item.nhs_number">
                          [[ item.nhs_number ]]
                         <br />
                      </span>
                      [[ item.first_name ]] [[ item.surname ]]
                      <br />
                      <span ng-show="item.date_of_birth">
                          [[ item.date_of_birth | shortDate ]]
                         <br />
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <h4><strong>
                        {% icon models.ExternalDemographics.get_icon %} {{ models.ExternalDemographics.get_display_name }}
                    </strong></h4>
                    <p ng-repeat="item in row.external_demographics">
                      {% include models.ExternalDemographics.get_display_template %}
                    </p>
                  </div>
                </div>
              </div>
            </a>
            <div class="panel-footer">
              <div class="row">
                <div class="text-right col-sm-12">
                  <button class="btn btn-primary" pathway-episode="row" open-pathway="reconcile" pathway-callback="removeFromList(row.id)">
                    {% icon 'fa fa-user-plus' %} Reconcile
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="empty-list" ng-hide="num_episodes > 0">
        <p class="lead text-center">
          There are no patients on this list.
        </p>
      </div>
    </div>
  </div>
</div>
