{% load forms %}
<div class="form-horizontal">
  <div class="row">
    <label class="text-right col-sm-3">Symptoms</label>
    <div class="col-sm-8">
      <div class="row content-offset-below-20">
        <div ng-repeat="column in columns" class="col-md-4">
          <div ng-repeat="symptomField in column" class="form-group">
            <div class="col-md-12">
              <label class="btn btn-default btn-text-wrap multilined-btn" ng-change="updateSymptoms(symptomField)" ng-model="tbSymptom[symptomField]" btn-checkbox>
                  [[ tbSymptomFields[symptomField] ]]
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% select autofocus field="SymptomComplex.symptoms" multiple=True tagging=False help_text="If a symptom isn't in the list, add it in the details box" label="   " %}
  <div ng-show="editing.symptom_complex.symptoms.indexOf('Lymph node swelling') !== -1">
    {% include models.LymphNodeSwellingSite.get_form_template %}
  </div>
  {% select field="SymptomComplex.duration" %}
  {% textarea field="SymptomComplex.details" %}
</div>
