{% load panels %}
{% load forms %}
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        {% record_panel models.ReferralRoute %}
        {% record_panel models.CommuninicationConsiderations %}
        {% record_panel models.Nationality %}
        {% record_panel models.TBHistory %}
        {% record_panel models.Travel %}
        {% record_panel models.PastMedicalHistory %}
        {% record_panel models.Antimicrobial title="Medication History" %}
        {% record_panel models.Allergies %}
        {% record_panel models.SocialHistory %}
        {% record_panel models.Diagnosis %}
        {% record_panel models.Treatment %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>
              <i class="fa fa-file-image-o"></i> Imaging
            </h3>
          </div>
          <div class="panel-body">
            <a target="_blank" href="http://freenet/carestream/?pid=[[ episode.demographics[0].hospital_number ]]">PACS <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </div>
        </div>
        {% include 'tb/obs_panel.html' %}
      </div>

      <div class="col-md-6">

        <div ng-show="episode.patient_consultation.length" class="panel panel-default hidden-print">
          <div class="panel-body">
            <div class="patient-timeline-container">
              <div class="row">
                <div class="col-md-3 patient-timeline">
                  <div class="patient-timeline-now">
                    <div class="patient-timeline-now-text bg-secondary">
                      Now
                    </div>
                  </div>
                </div>
              </div>
              <svg class="speech-bubble-timeline-container">
                <line class="speech-bubble-timeline hidden-sm hidden-xs" x1="13%" y1="0" x2="13%" y2="500%" />
                <line class="speech-bubble-timeline hidden-md hidden-lg" x1="50%" y1="0" x2="50%" y2="500%" />
              </svg>
              <div ng-repeat="item in episode.patient_consultation | orderBy:orderByDate" class="row content-offset-20">

                <div class="col-md-3 patient-timeline">
                  <div class="patient-timeline-speech-bubble">
                    <i class="fa fa-comments patient-timeline-speech-bubble-icon"></i>
                  </div>
                  <div ng-show="item.when">
                    <div class="patient-timeline-date">
                      [[ item.when | momentDateFormat:'DD MMM YYYY' ]]
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="patient-timeline-discussion">
                    <div class="row">
                      <div class="col-sm-10 consultation-timeline-data-[[ $index ]]">
                        <span ng-show="item.initials && item.initials.trim().length">
                          <p>
                            <b>By: </b> [[item.initials]]
                          </p>
                        </span>
                        <span ng-show="item.reason_for_interaction">
                          <p>
                            <b>Reason For Interaction: </b>[[item.reason_for_interaction]]
                          </p>
                        </span>
                        <span ng-show="item.discussion">
                          <b> Discussion: </b><div markdown="discussion"></div>
                        </span>
                        <span ng-show="item.plan">
                          <b> Plan: </b><div markdown="plan"></div>
                        </span>
                      </div>
                      <div class="col-sm-2">
                        <div class="row">
                          <div class="col-md-12">
                            <i class="fa fa-pencil edit pull-right pointer" ng-click="episode.recordEditor.openEditItemModal(item, 'patient_consultation')"></i>
                          </div>
                        </div>
                        <div class="row content-offset-10">
                          <div class="col-md-12">
                            <i class="fa fa-clipboard edit pull-right pointer" clipboard data-clipboard-target=".consultation-timeline-data-[[ $index ]]"></i>
                          </div>
                        </div>
                        <div class="row content-offset-10">
                          <div class="col-md-12">
                            <i print-page="/tb/clinical_advice/[[ item.id ]]" class="fa fa-print edit pull-right pointer"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include "inline_forms/patient_consultation.html" %}

      </div>
    </div>
  </div>
</div>
