<div class="form-group">
  <label class="control-label col-sm-3">
    Teams
  </label>
  <div ng-controller="TagHelper as tagHelper">
    <ui-select class="col-sm-8" multiple ng-model="tagHelper.value" on-remove="tagHelper.onRemove($item, $model)" on-select="tagHelper.onSelect($item, $model)" theme="bootstrap">
      <ui-select-match>[[ $item.display_name ]]</ui-select-match>
      <ui-select-choices repeat="i.name as i in tagHelper.tagsList | filter:$select.search" value="[[ $select.selected.name ]]">
        <div ng-bind-html="i.display_name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
