{% load forms %}
{% comment %}Expects either an episode or a patient{% endcomment %}
<div class="trends-panel" populate-lab-tests="{{ target }}">
  <div ng-show="patientLoadStatus.isLoading()">
    <h2 class="text-center no-results">Lab tests loading please wait</h2>
  </div>
  <div ng-show="patientLoadStatus.isAbsent()">
    <h2 class="text-center no-results">Unable to get lab tests for this patient</h2>
  </div>
  <div ng-show="patientLoadStatus.isFailed()">
    <h2 class="text-center no-results">Failed To load lab tests for this patient</h2>
  </div>
  <div ng-show="patientLoadStatus.isLoaded()">
    {% comment %}
      we have a result saying that the patients lab tests have loaded but
      we have not loaded them in yet
    {% endcomment %}
    <div ng-show="!data">
      <h2 class="text-center no-results">Lab tests loading please wait</h2>
    </div>
    <div ng-show="data && !data.obs_values.length">
      <h2 class="text-center no-results">No results found</h2>
    </div>
    <table ng-show="data.obs_values.length" class="col-md-12 table">
      <thead>
        <tr>
          <th></th>
          <th class="col-md-2"></th>
          <th class="text-center hidden-xs" ng-repeat="date in data.recent_dates">
            [[ date | shortDate ]]
          </th>
          <th class="text-center">
            3 month trend
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" ng-repeat="item in data.obs_values">
          <td class="text-center col-md-2">
            [[ item.name ]]
          <td class="text-center hidden-xs" ng-repeat="date in data.recent_dates">
            [[ item.latest_results[date] ]]
          </td>
          <td class="text-center">
            <div spark-line="item.graph_values"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
