$primary: #0091C9;
$primary-background: #006c96;

$secondary: #D36C08;
$secondary-background: #864200;
$white: #FFF;
$events: #111;
$bg: #EEE;

$red  : #f76c51;
$blue : #5fa2dd;
$bluelight: #a0c7ea;
$green: #9cc96b;
$obsidian: #343637;
$obsidianlight: #cbc9c8;
$navbar-height: 77px;
$small-text-color: $secondary-background;

body{
    background-color: $bg;
}

.bg-primary { background-color: $primary;}
.bg-secondary{ background-color: $secondary; }

.panel.panel-primary { border-color: $primary; }
.panel.panel-primary > .panel-heading {
    background-color: $primary;
    color: white;
    border-color: $primary;
}

h5{
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: $primary-background;
    border-color: $primary-background;
}

.btn-secondary{
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: $secondary-background;
    border-color: $secondary-background;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    background-color: $obsidian;
}

.navbar-nav li:hover,
.navbar-nav li:hover a,
.navbar-nav li.active a,
.navbar-nav li.active{
	background: $obsidianlight;
}

.panel-primary .panel-default .panel-heading,
.panel-default .panel-heading {
    border-bottom: 3px solid $secondary;
}

.modal-header{
    background: $primary;
}

.loading {
    background-color: $obsidian;
    color: white;
}

/* ngProgress overrides */
.ngProgressLiteBar {
  background-color: $secondary;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  // top: $navbar-height;
}

.smpl-step > .smpl-step-step > .progress > .progress-bar{
  background-color: $secondary;
}

a.list-group-item {
  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: lighten($obsidian, 10%);
    color: $white;
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus{
    background-color: $obsidian;
  }
}

.patient-row{
  .label-warning{
    margin-top: 5px;
    display: inline-block;
    padding-top: 4px;
  }
  .label-danger{
    margin-top: 5px;
    display: inline-block;
    padding-top: 4px;
  }
}

/*# sourceMappingURL=elcid.css.map */
.label-warning{
  background-color: #A03110;

}

.label-danger{
  background-color: #DA163E;

}

.panel-link .panel-footer{
  background-color: inherit;
}

.full-width{
  width: 100%;
}

.multilined-btn{
  /*
  * this is used in the blood culture buttons to make all buttons
  * the same height whether the ext is on 2 lines or not
  * and to vertically/horizontally centre the text
  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 64px;
}

.btn-text-wrap{
  white-space: normal;
}

.patient-timeline-discussion{
  ul{
    padding-left: 40px;
  }
  ul li{
    list-style-type: disc;
  }

  ol li{
    list-style-type: decimal;
  }
}

.no-touchevents
.patient-timeline-discussion i.edit{
  display:none
}

.touchevents .patient-timeline-discussion i.edit,
.no-touchevents .patient-timeline-discussion:hover i.edit{
  display: inline-block;
}

.growl-item.alert-success{
  background-color: $primary;
  border-color: $obsidian;
  color: $white;
}
