<form action="{% url 'add_antifungal_patients' %}" method="post">
  <div ng-repeat="patientForm in patientForms track by $index" class="form-horizontal content-offset-10">
    <div class="controls">
      <div class="row" ng-class="{'has-error': patientForm.error}" ng-hide="patientForm.state === states.FOUND">
        <div class="col-md-5">
          <input ng-change="lookupDebounced(patientForm)" ng-disabled="patientForm.state === states.SEARCHING" ng-model="patientForm.demographics.hospital_number" class="form-control" type="text">
        </div>
        <div class="col-md-5">
          <div class="help-block">
            <span class="form-hint">
              <i ng-show="patientForm.state === states.ERROR" class="fa fa-close failure" aria-hidden="true"></i>
              <i ng-show="patientForm.state === states.SEARCHING" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            </span>
            <span ng-show="patientForm.state === states.ERROR" class="has-error">
              Patient not found
            </span>
          </div>
        </div>
        <a ng-click="remove($index)" ng-show="patientForm.state !== states.SEARCHING" class="btn btn-default col-md-2">
          Remove
        </a>
        <a ng-click="lookup(patientForm)" disabled ng-show="patientForm.state === states.SEARCHING" class="btn btn-default col-md-2">
          Searching
        </a>
      </div>

      <div ng-show="patientForm.state === states.FOUND" class="row">
        <div class="col-md-5">
          <input disabled ng-model="patientForm.demographics.hospital_number" class="form-control" type="text">
        </div>
        <div class="col-md-5">
          <div class="help-block">
            <span class="form-hint">
              <i class="fa fa-check success"></i>
            </span>
            [[ patientForm.demographics.first_name ]]
            [[ patientForm.demographics.surname ]]
            <span ng-show="patientForm.demographics.date_of_birth">
              ([[ patientForm.demographics.date_of_birth|displayDate ]])
            </span>
          </div>
        </div>
        <a ng-click="remove($index)" class="btn btn-default col-md-2">
          Remove
        </a>
      </div>
    </div>
  </div>

  <input name="demographics" type="hidden" value="[[ getDemographicsJson() ]]">
  {% csrf_token %}
  <div class="row content-offset-25">
    <div class="col-md-12">
      <a ng-click="stage = stages.LOOKUP_PATIENTS" class="btn btn-primary btn-lg">
        <i class="fa fa-arrow-left"></i>
        Back
      </a>
      <div class="pull-right">
        <div class="row">
        <button ng-hide="filterForms({state: states.EDITING}).length" ng-disabled="!canSave()" class="btn btn-primary btn-lg">
          <i class="fa fa-floppy-o"></i>
          Add patients
        </button>
        <a ng-show="filterForms({state: states.EDITING}).length" class="btn btn-primary btn-lg" ng-click="research()">
          <i class="fa fa-search"></i>
          Lookup patients
        </a>
      </div>
    </div>
  </div>
</form>