0 2 * * * {{ unix_user }} {{ virtualenv }}/bin/python {{ project_dir }}/manage.py tb_patient_load >> /usr/lib/ohc/log/cron_sync.log 2>&1

12 3 * * * {{ unix_user }} {{ virtualenv }}/bin/python {{ project_dir }}/manage.py tb_refresh_future_appointments >> /usr/lib/ohc/log/cron_sync.log 2>&1
# Run every Tuesday every 15 mins in the clinic
5,20,35,50 12,13,14,15,16,17,18 * * 2 {{ unix_user }} {{ virtualenv }}/bin/python {{ project_dir }}/manage.py tb_refresh_future_appointments >> /usr/lib/ohc/log/cron_sync.log 2>&1

12 4 * * * {{ unix_user }} {{ virtualenv }}/bin/python {{ project_dir }}/manage.py tb_refresh_imaging >> /usr/lib/ohc/log/cron_sync.log 2>&1
# On Tuesdays run every 2 hours during the day
23 7,9,11,13,15,17 * * 2 {{ unix_user }} {{ virtualenv }}/bin/python {{ project_dir }}/manage.py tb_refresh_imaging >> /usr/lib/ohc/log/cron_sync.log 2>&1